h1,h2,h3,h4,h5{
  color: teal; font-size:1.5em;
}

thead{
  color: blue; font-weight: bold;
}

thead,tr,td{
  border-style: solid;
  border-width: 10px;
  border-color:orange;
  text-align: center;
}
ol,ul{
  list-style-type: square;
}
a:hover{
  color:orange;
  text-decoration: none;
}
blockquote{
  background-color: navy;
  color: red;
}
img {
    position: relative;
    left: 60px;
    top: 75px;
    z-index: -1;
  }
#checkbox-grid{
  list-style-type:none;
}
